<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="row">
	<div class="col-lg-3">
		<center><%= gravatar_for(@user, size: 100) %>
		<h3>Welcome <%= @user.first_name %></h3>
		<%= link_to "Log Out", destroy_user_session_path, method: "delete" %> |
		<%= link_to "Edit my Account", edit_user_registration_path %></center>
	</div>

	<div class="col-lg-9">
		<h3>Stats</h3>
		<div class="col-lg-3">
			<strong>Crawl Limit:</strong>
		</div>

		<div class="col-lg-9">
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @crawl_limit %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @crawl_limit %>%;">
			    <span class="sr-only"><%= @crawl_limit %>% Complete</span>
			  </div>
			</div>
			<%= @crawl_count %> of 10,000 pages used.
		</div>

<br><br>
		<h3>News</h3>
			<div class="col-lg-3">
				<p><strong><%= @news.updated_at.to_formatted_s(:long)%></strong><br>
			</div>
			<div class="col-lg-9">
				<%= @news.message %></p>
			</div>

<br><br>
		<h3>Screencasts</h3>
		<div class="col-lg-12">
			<p>Screencasts are a great way to learn practically. Click the links below to learn about the application.</p>
		</div>
	</div>
</div>



	<!--div class="col-lg-6">
		<h3>Jobs Capacity</h3>
		<p>Heroku's free account limits users to 10,000 database rows. This limits the amount of pages that can be crawled to just under 10,000. This bar will show you how many pages are currently being stored. If the count is too high, please delete a site from the 'Sites' page. This will destroy all pages assosciated with this site too and free up space.</p>
	</div>
	<div class="col-lg-6">
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @jobs_limit %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @jobs_limit %>%;">
		    <span class="sr-only"><%= @jobs_limit %>% Complete</span>
		  </div>
		</div>
		<h4><%= @jobs_count %> of 10,000 pages used.</h4>
	</div>
</div>



	<div class="panel panel-info col-lg-12">
		<h3>News - <%= @news.updated_at.to_formatted_s(:long)%></h3><br>
		<%= @news.message %>
	</div>
</div>

<div class="row">
	<div class="panel panel-danger col-lg-3">
		<center><%= gravatar_for(@user, size: 100) %>
		<h3>Welcome <%= @user.first_name %></h3></center>
	</div>

	<div class="panel panel-warning col-lg-9">
		<h3>Watch the Screencasts</h3>
		<p>Screencasts explain how to use the application and new features as the application is updated. It's an easy way to learn new tricks.
	</div>
</div-->