<div class="page-header">
    <h1>Sites</h1>
</div>

<div class="row">
	<!--div class="col-lg-2">
		<p><%= @jobs_count %> / 10,000 Jobs Used</p>
	</div>

	<div class="col-lg-10">
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @jobs_limit %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @jobs_limit %>%;">
		    <span class="sr-only"><%= @jobs_limit %>% Complete</span>
		  </div>
		</div>
	</div-->
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Site ID</th>
			<th>URN</th>
			<th>URL</th>
			<th>Status</th>
			<th>Coverage</th>
			<th>Crawl Time</th>
			<th>View Report</th>
			<th>Delete Site</th>
		</tr>
	</thead>

	<tbody>
		<% @sites.each do |site|%>
			<tr>
				<td><%= site.id %></td>
				<td><%= site.urn %></td>
				<td><%= site.url %></td>
				<td><span class="label label-<%= alert(site.status) %>"><%= site.status %></span></td>
				<td></td>
				<td><%= ChronicDuration.output(site.crawl_time.to_i, :format => :chrono) %></td>
				<% if site.status == "complete" %>
					<td><%= link_to "View", site %></td>
					<% else %>
					<td>Not yet available</td>
				<% end %>
				<td><%= link_to "Delete", site, method: :delete, data: { confirm: "Are you sure?" }, title: site.url %></td>
			</tr>
		<% end %>
	</tbody>
</table>