<div class="page-header">
    <h1><%= @site.url %></h1>
</div>


<div class="alert alert-success">
	<div class="row">
	<div class="col-lg-4">
		<h1 style="font-size: 110px;"><%= @coverage.round(2) %>%</h1>
	</div>

	<div class="col-lg-3">
		<h3>Summary</h3>

		<div class="col-lg-6">
		Pages Crawled<br>
		Crawl Time<br>
		Pages Passed<br>
		Pages Failed
		</div>

		<div class="col-lg-6">
			<%= @site.pages.count %><br>
			<%= ChronicDuration.output(@site.crawl_time.to_i, :format => :chrono) %><br>
			<%= @site.pages.where(:passed => true).count %><br>
			<%= @site.pages.where(:passed => false).count %>
		</div>
	</div>

	<div class="col-lg-5">
		<h3>What we tested for...</h3>
		<ol>
			<li>Presence generic GPT or GAM tags anywhere on the page</li>
			<li>Unique presence of the code <%= @site.urn %>_PB in the head</li>
			<li>Unique presence of the code <%= @site.urn %>_PA in the head</li>
			<li>Unique presence of the code <%= @site.urn %>_PB in the body</li>
			<li>Unique presence of the code <%= @site.urn %>_PA in the body</li>
		</ol>
	</div>
</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Page ID</th>
			<th>URL</th>
			<th>Passed</th>
			<th>Error Message</th>
		</tr>
	</thead>

	<tbody>
		<% @site.pages.each do |page|%>
			<tr>
				<td><%= page.id %></td>
				<td><%= page.uri %></td>
				<td><span class="label label-<%= alert(page.passed) %>"><%= page.passed %></span></td>
				<td><%= page.error_message %></td>
			</tr>
		<% end %>
	</tbody>
</table>